extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#collapseDealerInfo', aria-expanded='false')
						strong Account Information
						| &#58; ข้อมูลบัญชีธนาคาร
			#collapseDealerInfo.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/account/info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Account Key
									.col-sm-10
										input.form-control.key(type='text', placeholder='Account Key')
										p.help-block
											span.font-pre.label.label-warning key
											|   รหัสบัญชี
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#updateBankTransaction', aria-expanded='false')
						strong Bank Transaction Update
						| &#58; ปรับปรุงข้อมูลรายการเดินบัญชีธนาคาร
			#updateBankTransaction.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/transaction/update
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Account Key
									.col-sm-10
										input.form-control.key(type='text', placeholder='Account Key')
										p.help-block
											span.font-pre.label.label-warning key
											|   รหัสบัญชี
								.form-group
									label.col-sm-2.control-label(for='input') Transaction Date
									.col-sm-10
										input.form-control.transactionDate(type='text', placeholder='Transaction Date')
										p.help-block
											span.font-pre.label.label-warning transactionDate
											|   วันที่และเวลา
								.form-group
									label.col-sm-2.control-label(for='input') Transaction Type
									.col-sm-10
										input.form-control.transactionType(type='text', placeholder='Transaction Type')
										p.help-block
											span.font-pre.label.label-warning transactionType
											|   ประเภทรายการ
								.form-group
									label.col-sm-2.control-label(for='input') Channel
									.col-sm-10
										input.form-control.channel(type='text', placeholder='Channel')
										p.help-block
											span.font-pre.label.label-default channel
											|   ช่องทาง
								.form-group
									label.col-sm-2.control-label(for='input') Withdrawal
									.col-sm-10
										input.form-control.withdrawal(type='text', placeholder='Withdrawal')
										p.help-block
											span.font-pre.label.label-warning withdrawal
											|   จำนวนเงินที่ถอน (Default = 0)
								.form-group
									label.col-sm-2.control-label(for='input') Deposit
									.col-sm-10
										input.form-control.deposit(type='text', placeholder='Deposit')
										p.help-block
											span.font-pre.label.label-warning deposit
											|   จำนวนเงินที่ฝาก (Default = 0)
								.form-group
									label.col-sm-2.control-label(for='input') Account Number
									.col-sm-10
										input.form-control.accountNo(type='text', placeholder='Account Number')
										p.help-block
											span.font-pre.label.label-default accountNo
											|   เลขที่บัญชี
								.form-group
									label.col-sm-2.control-label(for='input') Details
									.col-sm-10
										input.form-control.details(type='text', placeholder='Details')
										p.help-block
											span.font-pre.label.label-default details
											|   รายละเอียด
								.form-group
									label.col-sm-2.control-label(for='input') Comment
									.col-sm-10
										input.form-control.comment(type='text', placeholder='Comment')
										p.help-block
											span.font-pre.label.label-default comment
											|   หมายเหตุ
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		