extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#info', aria-expanded='false')
						strong Province  
						| &#58; ข้อมูลจังหวัด
			#info.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/list
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Language
									.col-sm-10
										input.form-control.language(type='text', placeholder='Language')
										p.help-block
											span.font-pre.label.label-default language
											|   ภาษา (Th = ภาษาไทย, En = ภาษาอังกฤษ)
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#district', aria-expanded='false')
						strong District  
						| &#58; ข้อมูลอำเภอ
			#district.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/district
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Province ID
									.col-sm-10
										input.form-control.province(type='text', placeholder='Province ID')
										p.help-block
											span.font-pre.label.label-warning province
											|   รหัสจังหวัด
								.form-group
									label.col-sm-2.control-label(for='input') Language
									.col-sm-10
										input.form-control.language(type='text', placeholder='Language')
										p.help-block
											span.font-pre.label.label-default language
											|   ภาษา (Th = ภาษาไทย, En = ภาษาอังกฤษ)
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
					
					
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#districtPos', aria-expanded='false')
						strong District [POS] 
						| &#58; ข้อมูลอำเภอ [POS]
			#districtPos.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/districtPos
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Language
									.col-sm-10
										input.form-control.language(type='text', placeholder='Language')
										p.help-block
											span.font-pre.label.label-default language
											|   ภาษา (Th = ภาษาไทย, En = ภาษาอังกฤษ)
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')