extends layout

block content

	#accordion.panel-group(role='tablist', aria-multiselectable='true')

		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#info', aria-expanded='false')
						strong Warranty Information  
						| &#58; ข้อมูลประกันสินค้า
			#info.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/info
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Barcode
									.col-sm-10
										input.form-control.barcode(type='text', placeholder='Barcode')
										p.help-block
											span.font-pre.label.label-warning barcode
											|   Barcode
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')
		.panel.panel-default
			#headingOne.panel-heading(role='tab')
				h4.panel-title
					a(data-toggle='collapse', data-parent='#accordion', href='#remax', aria-expanded='false')
						strong Remax Thailand Products  
						| &#58; ตรวจสอบสินค้าของ Remax Thailand 
			#remax.panel-collapse.collapse(role='tabpanel')
				.panel-body
					pre URL : /#{data.screen}/remax
					.panel.panel-default
						.panel-body
							form.form-horizontal
								.form-group
									label.col-sm-2.control-label(for='input') Barcode
									.col-sm-10
										input.form-control.barcode(type='text', placeholder='Barcode')
										p.help-block
											span.font-pre.label.label-warning barcode
											|   Barcode
								.form-group.margin-bottom-0
									.col-sm-offset-2.col-sm-10
										.btn.btn-sm.btn-primary.btn-submit(data-loading-text='Loading...', autocomplete='off') Submit
					.result.hidden.alert.margin-top-10.margin-bottom-0.font-pre(role='alert')